@import "colorScheme.css";

footer{
 background-color:var(--foreground);
 font-size: 8px;
 color: white;
 width: inherit;
 height: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}
