@import "colorScheme.css";

.main{
  display:grid;
  gap:50px;
  width:100%;
  grid-template-columns: 160px 1fr;
  grid-template-rows:1fr;
  background: var(--background); 
  box-sizing:border-box;
  justify-items:center;
  align-items:center;
  padding:50px;
}


.mainClosed{
 grid-template-columns: 36px 1fr;
 gap:0px;
 padding-left:14px;
 grid-template-rows:1fr;
 
 
}

.sketchbox{
}
/* all side tools stuff */

#sidetools {
  display:flex;
  flex-direction: column;
  border: 100px;
  background-color: var(--foreground);
  padding: 10px;
  box-sizing:border-box;
  box-shadow: 2px 2px 5px 2px var(--shadow);
}

#sidetools.sideclosed {
z-index: 4;
box-shadow:none;
background-color:transparent;
width:fit-content;
height:fit-content;
align-self:start;
justify-self:start;
}

#collapsablebtns.closed {
display:none;
}

#sidetoolstoggle {
  z-index: 4;
  text-decoration:none;
  color:var(--shadow);
}

#sidetoolstoggle:hover{
  color:var(--button-hover-color);
}

button#sidetooltoggle.btnclosed {
  width:fit-content;
  border:none;
}

button{
	background-color: transparent;
	color: white;
	width: 140px;

  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*download button*/
button a{
	color: white;
	text-decoration: none;
}

#deckDropDown{
	width: 100%;
}


button:hover {
	opacity: 0.7;
		background-color: var(--foreground-font-color);  
		color:var(--button-hover-color);
		transition: 1s;
	} 