@import "colorScheme.css";
@import "navbar.css";
@import "footer.css";
@import "indexOnly.css";
@import "sketchDrawOnly.css";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");

html, body{
 height:100%;
 width:100%; 
}

body{
font-family:raleway;
margin:0px;
display:grid;
align-items:center;
justify-items:center;
}

#container{
 display:grid;
 background: var(--background);  
 max-width:100%;
 width:100%;
 min-height:100%;
 height:fit-content;
  box-sizing:border-box;
  box-shadow:0px 2px 5px 2px var(--shadow);
  grid-template-rows:auto 1fr auto;
}

#single-sketch-main{
	display:flex;
	flex-direction:column;
  box-sizing:border-box;
  justify-content:flex-start;
  align-content:center;
  padding:20px;
}

.sketches-list, .sketchdeck-list{
	display:grid;
	max-width:100%;
	grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
	gap:3rem;
	padding:3rem;	
}

.sketchDeck-name{
	padding: 3%;
	text-align:center;
}

h1{
	text-align:center;
}

.sketchDeck-description {
	text-align:center;
	font-weight:bold;
	color: var(--background-font-color);
}

.sketch-note{
	text-align: center;
	color: var(--foreground-font-color)
}

.name-and-image{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: var(--foreground);
	padding: 1rem 0px;
	text-decoration:none;
	color:(--foreground-font-color);
	box-shadow:2px 2px 5px 2px var(--shadow);
}

.name-and-image h2{
	color: var(--foreground-font-color);
}

.name-and-image p{
	color: var(--foreground-font-color);
}

.reorderMenu{
	width: 27rem;
	display: flex;
	justify-content: space-between;
}

.reorderMenu button{
	width: 2rem;
}

.name-and-image #note{
	padding: 1rem 0px;
	width: 400px;
	text-align: center;
	color: var(--background-font-color);
}

.name-and-image #comment{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1rem 0px;
	width: 400px;
}

.name-and-image #comment button{
	justify-content: flex-end;
	width: 2rem;
}


.name-and-image #add-comment{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1rem 0px;
	width: 400px;
}

.next-button{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.name-and-image img{
	padding: 1rem 0px;
	width:400px;
	height:auto;
}

.sketch-name{
	font-weight:normal;
}

#next-previous-menu{
	text-align:center;
}

#note, #description{
    color: var(--foreground-font-color);
}

