@import "colorScheme.css";
@import "navbar.css";
@import "footer.css";
@import "indexOnly.css";
@import "sketchDrawOnly.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");


*{
 font-family:raleway;
}

html, body{
 height:100%;
 width:100%; 
}

body{
margin:0px;
display:grid;
align-items:center;
justify-items:center;
}

#container{
 display:grid;
 background: var(--background);  
 width:100%;
 min-height:100%;
 height:fit-content;
  box-sizing:border-box;
  box-shadow:0px 2px 5px 2px var(--shadow);
  grid-template-rows:auto 1fr auto;
}



#single-sketch-main{
	display:flex;
	flex-direction:column;
  box-sizing:border-box;
  justify-content:flex-start;
  align-content:center;
  padding:20px;
}




.sketches-list, .sketchdeck-list{

	display:grid;
	max-width:100%;
	grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
	gap:3rem;
	padding:3rem;
	
	
}

.sketchDeck-name{
	padding: 3%;
	text-align:center;
}

h1{
	text-align:center;
}
.sketchDeck-description {
	text-align:center;
	font-weight:bold;
}
.name-and-image{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: var(--foreground);
	padding: 1rem 0px;
	text-decoration:none;
	color:(--foreground-font-color);
	box-shadow:2px 2px 5px 2px var(--shadow);
}
.name-and-image h2{
	color: var(--foreground-font-color);
}

.name-and-image #note{
	color: var(--foreground-font-color);
}
.next-button{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.name-and-image img{
	width:400px;
	height:auto;
}
.sketch-name{
	font-weight:normal;
}
#next-previous-menu{
	text-align:center;
}

#note, #description{
    color: var(--foreground-font-color);
}

