<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="android-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="./manifest/manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="128x128" href="./images/sketchflex.png">
	<title>SketchDecks</title>
</head>
<body>
	<div id = "container">
		<div class="navbar">
			<div id="beginNav">
				<div id="pageName">SketchFlex</div>
				<a href="javascript:void(0);" id="hamburger"> 
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<nav id="endNav"></nav>	
		</div>
		<div>
			<h1>All SketchDecks</h1>
		</div>
		<section  class = "sketchdeck-list" >
			<a class="name-and-image" th:each="sketchDeck:${sketchDecks}" th:href="@{/sketchdeck(id=${sketchDeck.id})}">
				<h2 class="sketch-name" th:text="${sketchDeck.name}"></h2>
				<img th:src = "${sketchDeck.preview}">
				<div id="description" th:text="${sketchDeck.description}"></div>			
			</a>
		</section>
		<footer>
            <p id="footerText">Copyright 2019 - We Can Code IT - Spring Cohort</p>     
        </footer>  
	</div>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</body>
</html>