<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway"
	rel="stylesheet" />
<head>
<meta charset="ISO-8859-1">
<title>Sketches</title>
</head>
<body>
	<div id="container">
		<div class="navbar">
			<div id="pageName">SketchFlex</div>
			<a href="javascript:void(0);" id="hamburger"> <i
				class="fa fa-bars"></i>
			</a>
		</div>
		<nav id="navbar"></nav>
		<h1 >All Sketches</h1>
		<div th:each="sketchDeck:${sketchDecks}">
			<h2 class = "sketchDeck-name" th:text="${sketchDeck.name}"></h2>
			<div class = "sketchDeck-description" th:text="${sketchDeck.description}"></div>
			<section  class="sketches-list" >
			<a class="name-and-image" th:each="sketch:${sketchDeck.sketches}" th:href="@{/sketch(id=${sketch.id})}">		
				<h2 class="sketch-name" th:text="${sketch.name}"></h2>
				<img th:src="@{${sketch.imageLocation}}">
				<div id="note" th:text="${sketch.note}"></div>			
			</a>
			</section>
		</div>
		<footer>
			<ul id="footerlist">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</footer>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>