<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
<head>
  </head>
  <body>
  <div id = "container">
  	<div class = "navbar"> 
		<div id="pageName">SketchFlex</div>
		<a href="javascript:void(0);" id="hamburger">
						<i class = "fa fa-bars"></i>
		</a>
    </div>	
	<nav id="navbar"></nav>
	<div><h1>All SketchDecks</h1></div>
    <div th:each = "sketchdeck : ${sketchdeck}">
       <h2 th:text = "${sketchdeck.name}"></h2>
    </div>
    
	<footer>
	  	<ul id="footerlist">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
		</ul>
	</footer>    
  </div>
  </body>
  <script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>