<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>SketchFlex</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
	    <div class="navbar">
			<h1 id="pageName">Logo goes here</h1>
			<nav id="navbar"></nav>
		</div>
		<div class="container">
			<nav class="top-bar">
				<div class="logo">SketchFlex</div>
				<ul class="menu">
					<li><a href="#">SketchDeck</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a id="hamburger"></a></li>
				</ul>
			</nav>
			<main>
				<section class="home">
					<h1 class="splash-tagline">
						Your Sketch.
						<br />
						Your Story.
						<br />
						Your Way.
					</h1>
					<a href="#" class="button primary-button fixed-callout-button">How It Works!</a>
				</section>
			</main>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
	</body>
	</html>