<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/indexOnly.css}">
	<meta charset="UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="android-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content = "#e6624d">
    <link rel="manifest" href="./manifest/manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/sketchflex.PNG">
    <link rel="icon" sizes="128x128" href="/images/sketchflex.PNG">
	<title>SketchFlex</title>
</head>
<body>
	<div id = "container">
		<div class="navbar">
			<div id="beginNav">
				<div id="pageName">SketchFlex</div>
				<a href="javascript:void(0);" id="hamburger"> 
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<nav id="endNav"></nav>	
		</div>
		<div id = "mainhome">
			<div id = "images">
				<img id = "imageone" src = "./images/storyboard-template.jpg"></img>
				<img id = "imagetwo" src = "./images/storyboard-template.jpg"></img>
				<img id = "imagethree" src = "./images/storyboard-template.jpg"></img>
			</div>
			<div id = "sidebar">
				<h1 class="splash-tagline">
					Your Sketch.
					<br/>
					Your Story.
					<br />
					Your Way.
				</h1>
				<div id="works">
					<a href="./video/howitworks.mp4">How It Works!</a>
					<video hidden width="400" controls>
  						<source src="./video/howitworks.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
		  <footer>
                <p id="footerText">Copyright 2019 - We Can Code IT - Spring Cohort</p>     
          </footer>
	</div>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
	<script>
      if('serviceWorker' in navigator) {
           navigator.serviceWorker
           .register('/sw.js')
           .then(function() { console.log("Service Worker Registered"); });
      }
    </script>
</body>
</html>