<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
  </head>
  <body>
    <div id = "container">
	  	<div class = "navbar"> 
			<div id="pageName">SketchFlex</div>
			<a href="javascript:void(0);" id="hamburger">
							<i class = "fa fa-bars"></i>
			</a>
	    </div>	
		<nav id="navbar"></nav>
		<footer>
		  	<ul id="footerlist">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
			</ul>
		</footer>
	</div>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
  </body>
</html>