<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<meta charset="UTF-8" />
	<title th:text="${sketchdeck.name}"></title>
</head>
<body>
	<div id = "container">
		<div class="navbar">
			<div id="beginNav">
				<div id="pageName">SketchFlex</div>
				<a href="javascript:void(0);" id="hamburger">
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<nav id="endNav"></nav>	
		</div>
		<h1 class = "sketchDeck-name" th:text="${sketchdeck.name}"></h1>
		<div class = "sketchDeck-description" th:text="${sketchdeck.description}"></div>
		<section  class="sketches-list" >
			<a class="name-and-image" th:each="sketch:${sketches}" th:href="@{/sketch(id=${sketch.id})}">
				<h2 class="sketch-name" th:text="${sketch.name}"></h2>
				<img th:src="@{${sketch.imageLocation}}">
				<p th:text = "${sketch.note}"></p>
			</a>
		</section>
		<footer>
            <p id="footerText">Copyright 2019 - We Can Code IT - Spring Cohort</p>     
        </footer>  
	</div>
	<script type="text/javascript" src="/js/reorderSketches.js"></script>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</body>
</html>