<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="android-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="./manifest/manifest.webmanifest">
    <title th:text="${sketch.name}"></title>
</head>
<body>
	<div id = "container">
		<div class="navbar">
			<div id="beginNav">
				<div id="pageName">SketchFlex</div>
				<a href="javascript:void(0);" id="hamburger">
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<nav id="endNav"></nav>	
		</div>
		<div id="single-sketch-main">
			<h1 id="name" th:text="${sketch.name}"></h1>
			<a th:href="@{/sketch(id=${sketch.id})}" id="getId"></a>
			<section  class="sketches-list" >
				<div class="name-and-image">
					<div class="next-button"><img id="image" th:src="@{${sketch.imageLocation}}"></div>
					<input id="note" type="text" name="sketchNote" th:value="${sketch.note}"></input>
					<div id="comment" th:each = "comment: ${sketch.comments}">
						<p th:text = "${comment.content}"></p>
						<form method = "POST">
							<input type = "hidden" name = "commentId" th:value = "${comment.id}"/>
							<button th:formaction="@{delete-comment}">X</button>
						</form>					
					</div>
					<form id = "add-comment" method="POST">
						<div id = "comment-box-div">
							<!-- <label>Enter New Comment:</label> -->
							<textarea id = "comment-box" type="text" name = "commentContent" placeholder = "Enter New Comment:"></textarea>
							<input type="hidden" name="sketchName" th:value = "${sketch.name}"/>
						</div>
						<div>
							<button th:formaction="@{add-comment}" >Submit</button>
						</div>
					</form>
				</div>
			</section>
			<div id="next-previous-menu">
				<h3 class = "sketchDeck-name" th:text="'SketchDeck: ' + ${sketch.sketchDeck.name}"></h3>
				<a id="json" hidden th:text="${JSONsketches}"></a > <!-- string to parse into js array of sketches (next-previous.js)-->
			</div>
		</div>
		<footer>
            <p id="footerText">Copyright 2019 - We Can Code IT - Spring Cohort</p>     
        </footer>  
	</div>
	<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
	<script type="text/javascript" th:src="@{/js/update-note-and-buttons.js}"></script>
</body>
</html>