<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
<meta charset="ISO-8859-1">
<title th:text="${sketch.name}"></title>
</head>
<body>
  <div id = "container">
    <div class = "navbar"> 
    	<div id="pageName">SketchFlex</div>
		<a href="javascript:void(0);" id="hamburger">
						<i class = "fa fa-bars"></i>
		</a>
    </div>	
	<nav id="navbar"></nav>
	<h1 id="name" th:text="${sketch.name}"></h1>
	<img id="image" th:src="@{${sketch.imageLocation}}">
	<h3 th:text="'SketchDeck: ' + ${sketch.sketchDeck.name}"></h3>
	<div id="next-previous-menu">
		<a id="json" hidden th:text="${JSONsketches}"></a>
	</div>
	<footer>
	  	<ul id="footerlist">
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
		</ul>
	</footer>
 </div>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
<script type="text/javascript" th:src="@{/js/next-previous-menu.js}"></script>
</html>