<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8" />
    <title>Draw</title>
</head>
<body>
    <div id="container">
        <div class="navbar">
            <div id="beginNav">
                <div id="pageName">SketchFlex</div>
                <a href="javascript:void(0);" id="hamburger"> 
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <nav id="endNav"></nav>	
        </div>
        <div id="main">
            <div id="sidetools">
                <div id="buttons">
                    
                    <button id="collapse" title = "expand collapse"><img src="./images/collapse.png"></img></button>
                    <div id="collapsablebtns">

                        <button id="draw" title="draw"><img src="./images/draw.png"></img></button>
                        <button id="eraser" title="eraser"><img src="./images/eraser.png"></img></button>
                        <button id="clear" title="clear"><img src="./images/clear.png"></img></button>
                        <input type="color" id="colorPicker">
                        <button id="penColor" title="pen color"><img src="./images/color.png"></img></button>
                        <div id="sizeButtons" title="size buttons">
                        <button id="pensizesmall" title="small pen"><img src="./images/dot-small.png"></img></button>
                        <button id="pensizemedium" title="medium pen"><img src="./images/dot-medium.png"></img></button>
                        <button id="pensizelarge" title="large pen"><img src="./images/dot-large.png"></img></button>
                        </div>
                        <button id="save" title = "save"><img src="./images/save.png"></button>
                    </div>
                        <form method="POST" class="formHidden js-form">
                            <div>
                                <input type="text" name="name" placeholder="Enter a Sketch Name"/>
                                <input id="lob" type="hidden" name="lob" value="" />
                                <select id="deckDropDown" type= "text" name="sketchDeckName">
                                	<option disabled selected hidden>Choose SketchDeck</option>
                                	<option th:each = "sketchdeck: ${sketchDecks}" th:text = "${sketchdeck.name}"></option>
                                	<option>New SketchDeck...</option>
                                </select><input id= "deckTextBox" type="text" style="display: none;" placeholder= "Enter New SketchDeck"/>
                            </div>
                            <div>
                                <button th:formaction="@{add-sketch-lob}">Upload Sketch</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
            <footer>
                <p id="footerText">Copyright 2019 - We Can Code IT - Spring Cohort</p>     
            </footer>
        </div> 
    </div>    
    <script type="text/javascript" src="./js/dropdownDecks.js"></script>
    <script src="./js/canvasJavaScript.js"></script>
    <script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</body>
</html>