<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/stickyNav.css}">
<head>
<meta charset="ISO-8859-1">
<title th:text="${sketch.name}"></title>
</head>
<body>
	<div class = "navbar"> 
	<h1 id="pageName">Logo goes here</h1>
	<nav id="navbar"></nav>
</div>
	<h1 th:text="${sketch.name}"></h1>
	<h3 th:text="'SketchDeck: ' + ${sketch.sketchDeck.name}"></h3>
	<img th:src="@{${sketch.imageLocation}}">
	
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>